<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Add Book Form</title>
</head>
<body>
        <h2>Add Book Form</h2>
        <form action="/adminform" method="POST">
            
            <label for="'title">Title</label>
            <input type="text" id="title" name="BookTitle" required><br><br>

            <label for="'author">Author</label>
            <input type="text" id="author" name="BookAuthor" required><br><br>

            <label for="'genre">Genre</label>
            <input type="text" id="genre" name="BookGenre" required><br><br>

            <label for="'publisher">Publisher</label>
            <input type="text" id="publisher" name="BookPublisher" required><br><br>

            <label for="'year">Year</label>
            <input type="number" id="year" name="BookYear" min="1800" max="2100"><br><br>

            <input type="submit" value="Add Book">
            
        </form>
</body>
</html>