<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Book</title>
  <style>
    /* Form styles */
    form {
      max-width: 500px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    button,
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <h1>Edit Book: ID {{bookId}}</h1>
  <form onsubmit="handleEditBook(event)">
    <label for="title">Title:</label>
    <input type="text" id="BookTitle" name="BookTitle" value="">

    <label for="author">Author:</label>
    <input type="text" id="BookAuthor" name="BookAuthor" value="">

    <label for="genre">Genre:</label>
    <select id="BookGenre" name="BookGenre" value="">
      <option value="Fiction">Fiction</option>
      <option value="Non-Fiction">Non-Fiction</option>
      <option value="science-fiction">Science Fiction</option>
    </select>

    <label for="author">Publisher:</label>
    <input type="text" id="BookPublisher" name="BookPublisher" value="">

    <label for="author">Year:</label>
    <input type="number" id="BookYear" name="BookYear" value="">

    <label for="status">Status:</label>
    <select id="BookStatus" name="BookStatus" value="">
      <option value="Available">Available</option>
      <option value="Not Available">Not Available</option>
      <option value="On Hold">On Hold</option>
    </select>

    <!-- <input type="submit"> -->
    <button type="submit">Submit</button>
  </form>
  <script>
    function getBookById() {
      const id = window.location.pathname.split("/").pop()

      fetch(`/api/books/${id}`)
        .then(response => response.json())
        .then(book => {
          console.log(book)
          console.log(book[0])
          // document.getElementById('BookId').value = book[0];
          document.getElementById('BookTitle').value = book[1];
          document.getElementById('BookAuthor').value = book[2];
          document.getElementById('BookGenre').value = book[3];
          document.getElementById('BookPublisher').value = book[4];
          document.getElementById('BookYear').value = book[5];
          document.getElementById('BookStatus').value = book[6];
        })
        .catch(error => {
          console.error('Error fetching book data:', error);
        });

      return
      fetch(`/api/books`, {
        method: 'GET',
        // headers: {
        //   'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        // },
        // body: formBody
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to Get book by ID');
          }
          // alert('Book Added successfully');
          // const url = new URL(location);
          // url.searchParams.set("foo", "bar");
          // history.pushState({}, "", "/books/list");
          // window.location.href = "/books/list"
        })
        .catch(error => {
          alert(error)
          console.error('Error:', error);
        });

    }

    getBookById()

    function handleEditBook(e) {
      e.preventDefault();
      console.log("handleEditBook", e.target.BookTitle.value)
      // const BookId = e.target.BookId.value;
      let BookTitle = e.target.BookTitle.value;
      let BookAuthor = e.target.BookAuthor.value;
      let BookPublisher = e.target.BookPublisher.value;
      let BookGenre = e.target.BookGenre.value;
      let BookYear = e.target.BookYear.value;
      let BookStatus = e.target.BookStatus.value;

      const details = {
        // 'BookId': BookId,
        'BookTitle': BookTitle,
        'BookAuthor': BookAuthor,
        'BookPublisher': BookPublisher,
        'BookGenre': BookGenre,
        'BookYear': BookYear,
        'BookStatus': BookStatus,
      };
      let formBody = [];
      for (const property in details) {
        const encodedKey = encodeURIComponent(property);
        const encodedValue = encodeURIComponent(details[property]);
        formBody.push(encodedKey + "=" + encodedValue);
      }
      formBody = formBody.join("&");
      const id = window.location.pathname.split("/").pop()
      fetch(`/api/books/` + id, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        },
        body: formBody
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to add book');
          }
          alert('Book Edited successfully');
          // const url = new URL(location);
          // url.searchParams.set("foo", "bar");
          // history.pushState({}, "", "/books/list");
          window.location.href = "/books/list"
        })
        .catch(error => {
          alert(error)
          console.error('Error:', error);
        });
    }
  </script>
</body>

</html>