<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">User Dashboard <br>
      <h2>Welcome, {{session['Email']}}</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item m-2">
          <a href="{{ url_for('logout') }}" class="btn btn-warning"><i class="fa fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <h1 class="mb-4">List of Books</h1>
    <!-- TABLE -->
    <table style="display:block; overflow-x: auto;">
      <thead>
        <tr>
          <th colspan="4">
            <form id="searchForm" onsubmit="handleSearchFormSubmit(event)">
              <div class="d-flex flex-column">
                <select name="search_by" class="form-select p-2 m-2" id="searchBySelect">
                  <option value="BookId">Book ID</option>
                  <option value="BookTitle">Book Title</option>
                  <option value="BookAuthor">Book Author</option>
                  <option value="BookGenre">Book Genre</option>
                  <option value="BookPublisher">Book Publisher</option>
                  <option value="BookYear">Book Year</option>
                  <option value="BookStatus">Book Status</option>
                </select>
                <input type="text" name="search_value" class="form-control" id="searchInput" placeholder="Search...">
                <button type="submit" class="btn btn-primary p-2 m-2">Search Book</button>
              </div>
            </form>
          </th>
          <th colspan="4">
            <form id="filterForm" onsubmit="handleFilterFormSubmit(event)">
              <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                  <select name="filter_by" class="form-select p-2 m-2" id="FilterBySelect">
                    <option value="BookId">Book ID</option>
                    <option value="BookTitle">Book Title</option>
                    <option value="BookAuthor">Book Author</option>
                    <option value="BookGenre">Book Genre</option>
                    <option value="BookPublisher">Book Publisher</option>
                    <option value="BookYear">Book Year</option>
                    <option value="BookStatus">Book Status</option>
                  </select>
                  <input type="text" name="filter_value" class="form-control" id="filterInput" placeholder="Filter...">
                  <button type="submit" class="btn btn-primary p-2 m-2">Filter Books</button>
                </div>
            </form>
          </th>
          <th colspan="4">
            <form id="sortForm" onsubmit="handleSortFormSubmit(event)">
              <div class="d-flex flex-column">
                <select name="sort_by" class="form-select p-2 m-2" id="SortBySelect">
                  <option value="BookId">Book ID</option>
                  <option value="BookTitle">Book Title</option>
                  <option value="BookAuthor">Book Author</option>
                  <option value="BookGenre">Book Genre</option>
                  <option value="BookPublisher">Book Publisher</option>
                  <option value="BookYear">Book Year</option>
                  <option value="BookStatus">Book Status</option>
                </select>
                <select name="sort_order" class="form-select p-2 m-2" id="SortBySelect">
                  <option value="asc">Ascending</option>
                  <option value="desc">Descending</option>
                </select>
                <button type="submit" class="btn btn-primary p-2 m-2">Sort Books</button>
              </div>
            </form>
          </th>
        </tr>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Publisher</th>
          <th>Year</th>
          <th>Status</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in api_data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ book.BookTitle }}</td>
          <td>{{ book.BookAuthor }}</td>
          <td>{{ book.BookGenre }}</td>
          <td>{{ book.BookPublisher }}</td>
          <td>{{ book.BookYear }}</td>
          <td>
            <select class=" status-select" onchange="updateStatus(this, '{{ book.BookId }}')">
              {% for option in ['Available', 'Not Available', 'On Hold'] %}
              {% if book.BookStatus == option %}
              <option value="{{ option }}" selected>{{ option }}</option>
              {% else %}
              <option value="{{ option }}">{{ option }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <!-- Bootstrap JS (Optional) -->
  <!-- SLIM VERSION OF JQUERY DOESNOT HAVE AJAX FEATURE -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script>
    function updateStatus(selectElement, bookId) {
      var selectedValue = selectElement.value;
      var formData = 'BookStatus=' + encodeURIComponent(selectedValue) + '&BookId=' + encodeURIComponent(bookId);
      
      $.ajax({
        url: '/api/books/' + bookId,
        type: 'PUT',
        data: formData,
        contentType: 'application/x-www-form-urlencoded', // urlencoded formdata
        success: function (response) {
          console.log('Status updated successfully');
        },
        error: function (xhr, status, error) {
          console.error('Error updating status:', error);
        }
      });
    }
  </script>
  <script>
    function getBooks(params) {
      const url = '/api/books';
      const queryParams = {
        ...params
      };
      // Obj to string
      const queryString = new URLSearchParams(queryParams).toString();
      const fetchUrl = `${url}?${queryString}`;
      fetch(fetchUrl)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          const tableBody = document.querySelector('tbody');
          tableBody.innerHTML = ''; // Clear existing table rows
          data.forEach((book, index) => {
            const row = `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${book.BookTitle}</td>
                        <td>${book.BookAuthor}</td>
                        <td>${book.BookGenre}</td>
                        <td>${book.BookPublisher}</td>
                        <td>${book.BookYear}</td>
                        <td>${book.BookStatus}</td>
                        <td>
                        <a href="BookReservations" class="btn btn-success"><i class="fas fa-plus"></i> Reserve</a>
                        </td>
                    </tr>
                `;
            tableBody.innerHTML += row;
          });
        })
        .catch(error => console.error('Error fetching API data:', error));
    }
    getBooks({});
  </script>
  <script>
    function handleSearchFormSubmit(event) {
      event.preventDefault(); // Prevent the default form submission
      console.log(event.target[0].value)
      console.log(event.target[1].value)
      const searchBy = event.target[0].value;
      const searchQuery = event.target[1].value;
      getBooks({
        search_by: searchBy,
        search_value: searchQuery
      })
    }
    function handleSortFormSubmit(event) {
      event.preventDefault(); // Prevent the default form submission
      console.log(event.target[0].value)
      console.log(event.target[1].value)
      const sortBy = event.target[0].value;
      const sortQuery = event.target[1].value;
      getBooks({
        sort_by: sortBy,
        sort_order: sortQuery
      })
    }
    function handleFilterFormSubmit(event) {
      event.preventDefault(); // Prevent the default form submission
      console.log(event.target[0].value)
      console.log(event.target[1].value)
      const filterBy = event.target[0].value;
      const filterQuery = event.target[1].value;
      getBooks({
        filter_param: filterBy,
        filter_value: filterQuery
      })
    }
  </script>
  <script>
    function searchby() {
      const search_by = document.getElementById('searchInput').value;
      console.log('Searching selected for:', search_by);
    }
    function searchValueText() {
      const search_by = document.getElementById('searchInput').value;
      console.log('Searching selected for:', search_by);
      // 
      const searchValueInput = document.getElementById('searchValueInput').value;
      console.log('Searching by value text:', searchValueInput);
      // CALL API
      getBooks({ search_by: search_by, search_value: searchValueInput })
    }

    function filterBooks(filterBy) {
      console.log('Filtering by:', filterBy);
    }

    function filterByValueText() {
      const filterValueText = document.getElementById('filterValueInput').value;
      console.log('Filtering by value text:', filterValueText);
    }

    function sortBooks(sortBy) {
      console.log('Sorting by:', sortBy);
    }
  </script>
</body>

</html>